<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/all/new" method="post" >
        <input type="text" name="heading" placeholder="heading"  class="chat">
        <br>
        <hr>
        <input type="text" name="text" placeholder="enter ur text here"  class="chat">
        <br>
       
        <button type="submit"  class="button"> Send </button>
    </form>
</body>
</html>