<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="viewHeading">
        <%=thisNote.heading%>
    </h1>
    <div class="viewText">
        <p>
            <%=thisNote.text%>
        </p>
    </div>
</body>
</html>